<module name="sample-axis2-module" class="com.lsieun.axis2.archetype.module.SampleAxis2Module">
    <Description>Sample Axis2 Module</Description>
    <OutFlow>
        <handler name="SampleOutHandler" class="com.lsieun.axis2.archetype.handler.SampleAxis2Handler">
            <order phase="samplephase"/>
        </handler>
    </OutFlow>
    <InFlow>
        <handler name="SampleInHandler" class="com.lsieun.axis2.archetype.hanlder.SampleAxis2Handler">
            <order phase="samplephase"/>
        </handler>
    </InFlow>
    <OutFaultFlow>
        <handler name="SampleOutFaultHandler" class="com.lsieun.axis2.archetype.hanlder.SampleAxis2Handler">
            <order phase="samplephase"/>
        </handler>
    </OutFaultFlow>
    <InFaultFlow>
        <handler name="SampleInFaultHandler" class="com.lsieun.axis2.archetype.hanlder.SampleAxis2Handler">
            <order phase="samplephase"/>
        </handler>
    </InFaultFlow>
</module>
